<h1>All Books</h1>

<%= link_to 'New Book', new_book_path %>

<% @books.each do |book| %>
  <div>
    <h2><%= link_to book.title, book_path(book) %></h2>
    <p><%= book.description %></p>
  </div>
<% end %>
